body {margin: 0;}
section { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;
}
div {font-size: 1.4em; display: none;}

@media (max-width: 480px) {
    section {background-color: tomato;}
    .mobile {display: inherit;}
}

@media (min-width: 481px) and (max-width: 767px) {
    section {background-color: olivedrab;}
    .low-tablet { display: inherit;}
}
@media (min-width: 768px) and (max-width: 1024px) {
    section {background-color: darkorchid;}
    .port-tablet { display: inherit;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
    section {background-color: darkorange;}
    .low-pc { display: inherit;}
}
@media (min-width: 1281px) {
    section {background-color: slateblue;}
    .high-pc { display: inherit;}
}
@media (max-width: 480px) or (min-width: 1281px) {
    div {color: yellow}
}