@import url('./styles/1-intro.css');
@import url('./styles/2-header.css');
@import url('./styles/3-main.css');
@import url('./styles/4-about.css');
@import url('./styles/5-lea-sk.css');
@import url('./styles/6-timeline.css');
@import url('./styles/7-contact.css');
@import url('./styles/8-footer.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --color-main: #9500ff;
    --color-sub: #8ca7e0;
    --color-dark: #2F4858;
    --color-emph: #160d97;
    --color-text: #281812;
    --color-lighter: #9686dc;
    --color-light-bd: #d6ddff;
    --color-light-bg: #f2edff;

    --font-code:'Nanum Gothic Coding', monospace;

    --font-size-title: 44px;
    --font-size-subtitle: 32px;
    --font-size-tag: 26px;
    --font-size-larger: 20px;
    --font-size-text: 18px;

    --height-toolbar: 72px;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR'. sans-serif;
    min-height : 150vh;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}

strong, em {
    font-weight: inherit;
    font-style: normal;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

dl {margin: 0;}
dd {
    margin: 0;
    display: inline;
}

figure {margin: 0;}

a{
    text-decoration: none;
    color: inherit;
}

th { font-weight: normal;}

address { font-style: inherit;}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
