#about {
    background-color: var(--color-light-bg);
}
.about {
    display: inline-flex;
    gap: 1em;
    margin-top: 48px;
}
.about__card {
    padding: 48px;
    text-align: center;
    color: white;
    background-color: var(--color-dark);
    border-radius: 12px;
}
.about__icon {
    width: 120px;
    opacity: 0.25;
}
.about__title {
    margin-top: 0.6em;
    font-size: var(--font-size-larger);
    font-weight: bold;
}
.about__title._1 {
    color : #FFBDCE;
}
.about__title._2 {
    color : #6BB0F3;
}
.about__title._3 {
    color : #FFB974;
}
.about__text {
    margin-top: 0.8em;
    font-size: var(--font-size-text);
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        width: 100%;
    }
    .about__icon {
    opacity: 1;
    }
    
}

@media (min-width: 769px) {
    #about {
        grid-column: 1/ -1;
    }
    .about__card {
        position: relative;
        width: 320px;
        cursor: pointer;
        transition: all 350ms;
    }
    .about:hover .about__card:not(:hover) {
        transform: scale(0.9);
    }
    .about__card:hover {
        transform: scale(1.04);
    }
    .about__card:hover .about__icon {
        opacity: 1;
    }
}