#timeline {
    background-color: var(--color-dark);
}
#timeline .section__title {
    color: white;
}
.timeline {
    display: inline-block;
    position: relative;
}
.timeline__list {
    display: inline-flex;
    font-size: var(--font-size-larger);
    font-weight: 100;
    text-align: left;
    color: white;
}
.timeline__list li {
    font-size: 1.1em;
}
.timeline__list li::before {
    content: '';
    position: relative;
    z-index: 1;

    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;

    box-sizing: border-box;
    border-radius: 100%;
    border: 4px solid white;
    background-color: var(--color-dark);
}
.timeline__progress {
    position: absolute;
}


@media (max-width: 768px) {
    .timeline__list {
        flex-direction: column;
        margin-top: 48px;
    }
    .timeline__list li {
        line-height: 100px;
        cursor: pointer;
    }
    .timeline__list li span {
        margin-left: 1.6em;
    }
    .timeline__progress {
        left: 12px;
        top: 108px;
        width: 0px;
        height: 500px;
        border-left: 6px dotted white;
        transform: skewY(-30deg);
    }
}

@media (min-width: 769px) {
    #timeline {
        grid-column: 1/ -1;
        padding-bottom: 88px;
    }
    .timeline__list {
        margin: 56px 0 56px 40px;
    }
    .timeline__list li {
        position: relative;
        width: 200px;
        height: 120px;
    }
    .timeline__list li span {
        display: inline-block;
        width: 164px;
        position: absolute;
        z-index: 1;
        top: 84px;
        left: 14px;
        opacity: 0.5;
        transform: rotate(45deg);
    }
    .timeline__list li:hover span {
        opacity: 1;
    }
    .timeline__progress {
        left: 56px;
        top: 70px;
        width: 1000px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .timeline__progress::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 8px;
        background-color: var(--color-sub);
        transition: all 1s;
    }
    .timeline__list li:hover::before {
        background-color: var(--color-sub);
    }
    .timeline__list li:nth-child(2):hover ~ .timeline__progress::after {
        width: 200px;
    }
    .timeline__list li:nth-child(3):hover ~ .timeline__progress::after {
        width: 400px;
    }
    .timeline__list li:nth-child(4):hover ~ .timeline__progress::after {
        width: 600px;
    }
    .timeline__list li:nth-child(5):hover ~ .timeline__progress::after {
        width: 800px;
    }
    .timeline__list li:nth-child(6):hover ~ .timeline__progress::after {
        width: 1000px;
    }

}